<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Inter">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Khand">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css\Can't sign.css">
<title>Can't sign in</title>
<meta charset="UTF-8">
    </head>
    <body>
<main>
<h1>CAN'T SIGN IN?</h1>
<h2>Wow! It sure sucks to be you!</h2>
<div class="flex">
    <div class="square flex">
        <figure>
            <img src="images\user.svg" alt="User Image">
            <Figcaption><b>Forgot username?</b></Figcaption><br><b>Wow how? We will send you an email or something</b>
        </figure>
    
    </div>
    <div class="square flex">
        <figure>
            <img src="images\lock-circle.svg" alt="a lockpad in a circle">
            <figcaption><b>Lost your password?</b></figcaption><br>
<b>Lmao how? We will send you an email</b>
        </figure>
        
    </div>
    <div class="square flex">
        <figure>
            <img src="images\mail.svg" alt="mail">
            <figcaption><b>Lost your email?</b></figcaption> <br>
            <b>How did you even do that? Honestly you are probably too young to even play this game</b>
        </figure>
       
    </div>
</div>
</main>
    </body>
 </html>